
<table class="tx-qxaddress" >
	<tr>
		<td>
			<f:translate key="tx_qxaddress_domain_model_address.name" />
		</td>
		<td>
		{address.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qxaddress_domain_model_address.latitude" />
		</td>
		<td>
		{address.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qxaddress_domain_model_address.longitude" />
		</td>
		<td>
		{address.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qxaddress_domain_model_address.marker" />
		</td>
		<td>
				<f:image src="{address.marker.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>